<%= simple_form_for(article , url: {action: 'create'}) do |f| %>

	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-lg-9 col-sm-10">

				<p class="text-center h3 font-weight-bold my-2">確認画面</p>

	      <div class="card">
	        <div class="card-header">
	          <div class="row">

	            <div class="col-6 ranking-table">
	            	<%= attachment_image_tag current_user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
	            	<span class="d-none">
	            		<%= f.attachment_field :image %>
	            	</span>
	            	<span class="text-secondary">
	            		<%= current_user.user_name %>
	            	</span>
	            </div>

	          </div>
	        </div>

	        <div class="card-body">

						<div class="card card-size">

				      <%= attachment_image_tag article, :image, fallback: "no_image.jpg", class: "img-trim"  %>
				      <div class="card-img-overlay article-bg-index">

			          <div class="row">
			            <div class="col-12">
			            	<h1 class="font-weight-bold text-border text-white h3 mt-1">
			            		<%= article.title %>
			            		<%= f.hidden_field :title %>
			            	</h1>
			            </div>
			          </div>

				        <div class="my-3">
					        <% article.tag_list.each do |tag| %>
					        	<span class="badge tag-color p-1 text-white">
					        		<%= tag %>
				        		</span>
					        <% end %>
				        </div>

				      </div>
				    </div>

		        <span class="d-none"><%= text_field_tag 'article[tag_list]', article.tag_list.join(',') %></span>

		        <p class="title-border mt-2"></p>
		        <div class="col-sm-12 mt-4" style="overflow: scroll;">
		            <%= raw article.body %>
		            <%= f.hidden_field :body %>
		        </div>

		      </div>
	      </div>
		  </div>

		  <div class="left-sidebar col-lg-3 d-lg-block d-sm-none">
		  	<div class="list-group left-sidebar-link d-lg-block d-none">

			    <%= f.submit "投稿する", name: "create_article", class: "list-group-item list-group-item-action nav-font bg-danger text-white mb-2" %>

			    <%= f.submit "修正する", name: "back", class: "list-group-item list-group-item-action nav-font mb-2" %>

			    <%= f.submit "下書きとして保存する", name: "create_draft", class: "list-group-item list-group-item-action nav-font mb-2" %>

				</div>
		  </div>

			<div class="mt-2 d-lg-none d-sm-block">

			  <p>
					<%= f.submit "投稿する", name: "create_article", class: "col btn btn-danger btn-sm text-white" %>
			  </p>

			  <p>
			  	<%= f.submit "修正する", name: "back", class: "col btn btn-sm text-secondary border" %>
			  </p>

			  <p>
			  	<%= f.submit "下書きとして保存する", name: "create_draft", class: "col btn btn-sm text-secondary border" %>
			  </p>

			</div>

		</div>
	</div>

<% end %>