<div class="list-group left-sidebar-link d-lg-block d-none">

	<%= link_to users_path do %>
		<span class="list-group-item list-group-item-action nav-font mb-2">
			<%= fa_icon("users", text: "ユーザーを探す") %>
		</span>
	<% end %>

	<%= link_to tags_path do %>
		<span class="list-group-item list-group-item-action nav-font mb-2">
			<%= fa_icon("tags", text: "タグを探す") %>
		</span>
	<% end %>

	<% if user_signed_in? %>

		<%= link_to new_article_path do %>
				<span class="list-group-item list-group-item-action nav-font mb-2">
					<%= fa_icon("pencil", text: "記事作成") %>
				</span>
		<% end %>

		<%= link_to user_drafts_path(current_user) do %>
				<span class="list-group-item list-group-item-action nav-font mb-2">
					<%= fa_icon("paperclip", text: "下書き一覧") %>
				</span>
		<% end %>

	<% end %>

</div>