<div class="d-sm-block d-none">
	<ul class="nav nav-tabs mt-2">

	  <li class="nav-item">
			<%= link_to articles_path do %>
				<% if controller.action_name == "index" %>
					<span class="nav-link active nav-font bg-secondary text-white small">
				<% else %>
					<span class="nav-link nav-font text-secondary border small">
				<% end %>

						<%= fa_icon("book", text: "最新記事") %>
					</span>
			<% end %>
	  </li>

	  <% if user_signed_in? %>

		  <li class="nav-item mx-1">
				<%= link_to user_timeline_path do %>
					<% if controller.action_name == "user_timeline" %>
						<span class="nav-link active nav-font bg-danger text-white small">
					<% else %>
						<span class="nav-link nav-font text-secondary border small">
					<% end %>

							<%= fa_icon("list-ul", text: "ユーザータイムライン") %>
						</span>
				<% end %>
		  </li>

		  <li class="nav-item">
				<%= link_to tag_timeline_path do %>
					<% if controller.action_name == "tag_timeline" %>
						<span class="nav-link active nav-font bg-primary text-white small">
					<% else %>
						<span class="nav-link nav-font text-secondary border small">
					<% end %>

							<%= fa_icon("list-alt", text: "タグタイムライン") %>
						</span>
				<% end %>
		  </li>

		<% end %>

	</ul>
</div>

<div class="col-12 d-sm-none text-center">

	<%= link_to articles_path do %>
		<% if controller.action_name == "index" %>
			<p class="col-8 btn btn-secondary text-white my-2">
		<% else %>
			<p class="col-8 btn btn-outline-secondary my-2">
		<% end %>
				<%= fa_icon("book", text: "最新記事") %>
			</p>
	<% end %>

	<% if user_signed_in? %>

		<%= link_to user_timeline_path do %>
			<% if controller.action_name == "user_timeline" %>
				<p class="col-8 btn btn-danger text-white mb-2">
			<% else %>
				<p class="col-8 btn btn-outline-secondary mb-2">
			<% end %>
					<%= fa_icon("list-ul", text: "ユーザータイムライン") %>
				</p>
		<% end %>

		<%= link_to tag_timeline_path do %>
			<% if controller.action_name == "tag_timeline" %>
				<p class="col-8 btn btn-primary text-white mb-2">
			<% else %>
				<p class="col-8 btn btn-outline-secondary mb-2">
			<% end %>
					<%= fa_icon("list-alt", text: "タグタイムライン") %>
				</p>
		<% end %>

	<% end %>

</div>