<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="col-12 text-center text-success">
			<%= flash[:succeeded] %>
		</div>

		<div class="left-sidebar col-lg-2">

			<%= render 'articles/nav_bar' %>

		</div>

		<div class="col-lg-6 col-sm-10">

			<div class="short-margin">

				<%= render 'articles/nav_tag' %>

			</div>

			<% if Article.exists? %>

			  <table class="table bg-white" id="articles">
				  <thead>
				    <tr>
				    	<th>
			    			<span>最新の記事</span>
				    	</th>
				    </tr>
				  </thead>

			    <tbody class="page" id="all-articles" >

			    	<%= render 'articles/articles', articles: @articles %>

			    </tbody>
			  </table>

	    <% else %>

			  <table class="table bg-white">
				  <thead>
				    <tr>
				    	<th class="text-center">
			    			<span>記事がありません</span>
				    	</th>
				    </tr>
				  </thead>
				</table>

	    <% end %>

	    <div class="row justify-content-center">
	    		<p class="col-12"><%= paginate @articles %></p>
	    </div>

	  </div>

	  <div class="col-lg-3 col-md-10 col-sm-10 right-sidebar">

				<table class="table bg-white">

					<%= render 'articles/user_ranking' %>

				</table>

				<table class="table bg-white">

					<%= render 'articles/tag_ranking' %>

				</table>

		</div>

	</div>
</div>