<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="left-sidebar col-lg-2 d-none d-lg-block">

			<%= render 'articles/nav_bar' %>

		</div>

		<div class="col-lg-6 col-sm-10">

			<p class="d-lg-block d-none blank-margin"></p>

			<div class="d-lg-none d-sm-block">

				<%= render 'articles/nav_bar' %>

			</div>

			<% if Article.exists? %>

			  <table class="table bg-white">
				  <thead class="">
				    <tr>
				    	<th>
					    	<div class="row">
					    		<div class="col-7">
					    			<span>最新の記事</span>
					    		</div>
					    	</div>
				    	</th>
				    </tr>
				  </thead>

			    <tbody>

			    	<% @articles.each do |article| %>

				      <%= render 'articles/articles',article: article %>

				    <% end %>

			    <% else %>

					  <table class="table bg-white">
						  <thead>
						    <tr>
						    	<th class="text-center">
					    			<span>記事がありません</span>
						    	</th>
						    </tr>
						  </thead>
						</table>

			    <% end %>

		    </tbody>
		  </table>

	  </div>

	  <div class="col-lg-3 col-md-10 col-sm-10 right-sidebar">

				<table class="table bg-white">

					<%= render 'articles/user_ranking' %>

				</table>

				<table class="table bg-white">

					<%= render 'articles/tag_ranking' %>

				</table>

		</div>

	</div>
</div>