<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <%= simple_form_for(@article, url: {action: 'confirm'}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= text_field_tag 'article[tag_list]', @article.tag_list.join(','), placeholder: "タグを入力（エンターキーで確定）", class: "col my-3 form-control" %>
          <%= f.input :title, label: false, placeholder: "タイトル", error: "タイトルを入力してください" %>
          <%= f.input :body, label: false, as: :summernote, error: "本文を入力してください"  %>
        </div>

        <div class="form-actions text-center">
          <%= f.submit "投稿する", class: "btn btn-primary btn-sm" %>
          <%= f.submit "下書きとして保存する", class: "btn border text-dark btn-sm" %>
        </div>
      <% end %>

      </div>
  </div>
</div>