<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

<%= simple_form_for(@article, url: {action: 'confirm'}) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label :tag_list, "タグ（カンマ区切り）" %><br>
    <%= text_field_tag 'article[tag_list]', @article.tag_list.join(',') %>
  </div>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, as: :summernote %>
  </div>

  <div class="form-actions">
    <%= f.submit "投稿する", class: "btn btn-primary btn-sm" %>
    <%= f.submit "下書きとして保存する", class: "btn border text-dark btn-sm" %>
  </div>
<% end %>