<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="left-sidebar col-lg-1 d-none d-lg-block">
			<div class="list-group left-sidebar-link">

				<% if user_signed_in? %>

					<% if @article.user_id != current_user.id %>
						<%= render 'articles/favorite' %>

						<%= render 'articles/keep' %>
					<% end %>

					<%= link_to tag_timeline_path do %>
						<span class="list-group-item list-group-item-action nav-font mb-2" >
							<%= fa_icon("twitter 2x") %>
						</span>
					<% end %>

					<%= link_to tag_timeline_path do %>
						<span class="list-group-item list-group-item-action nav-font" >
							<%= fa_icon("facebook 2x") %>
						</span>
					<% end %>

				<% end %>

			</div>
		</div>

		<div class="col-lg-7 col-sm-10">

			<p class="blank-margin"></p>

      <div class="card">
        <div class="card-header">
          <div class="row">

            <div class="col-6 ranking-table">
            	<%= attachment_image_tag @user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
            	<span class="text-secondary">
            		<%= link_to @user.user_name, user_path(@user) %>
            	</span>
            </div>

            <div class="col-6 small text-secondary text-right align-self-center">
            	<span class="mx-1" >
            		<%= @article.created_at.strftime('%Y/%m/%d') %>
            	</span><br>

            	<span class="mx-1">
            		<%= fa_icon("folder-open") %><%= @article.keeps.count %>
            	</span>

            	<span class="mx-1">
            		<%= fa_icon("comments") %><%= @article.comments.count %>
            	</span>

            </div>

          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-12">
            	<h2 class="font-weight-bold text-dark mt-1">
            		<%= @article.title %>
            	</h2>
            </div>
          </div>

	        <div class="my-3">
		        <% @taggings.each do |tagging| %>
		        	<span class="badge tag-color p-1">
		        		<%= link_to tagging.tag.name, tag_path(tagging.tag), class: "text-white" %>
	        		</span>
		        <% end %>
	        </div>

					<div class="d-lg-none d-sm-block">
						<div class="row justify-content-center">

							<% if user_signed_in? %>

								<% if @article.user_id != current_user.id %>

									<div class="col-5 text-center">

										<%= render 'articles/favorite' %>

									</div>

									<div class="col-5 text-center">

										<%= render 'articles/keep' %>

									</div>

								<% end %>

							<% end %>

						</div>

					</div>

	        <p class="title-border"></p>
	        <div class="col-sm-12 mt-4" style="overflow: scroll;">
	            <%= raw @article.body %>
	        </div>

	      </div>

      </div>
      <div class="d-lg-block d-none">
	  		<%= render 'articles/comment' %>
			</div>
	  </div>

	  <div class="d-lg-none d-sm-block col-sm-10">

	  	<%= render 'articles/comment' %>

	  </div>

	  <div class="col-lg-3 col-sm-10 right-sidebar">

				<table class="table bg-white">

					<%= render 'articles/user_ranking' %>

				</table>

				<table class="table bg-white">

					<%= render 'articles/tag_ranking' %>

				</table>

		</div>

	</div>
</div>