<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="left-sidebar col-lg-2 d-none d-lg-block">

			<%= render 'articles/nav_bar' %>

		</div>

		<div class="col-lg-6 col-sm-10">

			<div class="short-margin">

				<%= render 'articles/nav_tag' %>

			</div>

			<% if current_user.tag_list.present? %>

			  <table class="table bg-white">

				  <thead>
				    <tr>
				    	<th>
					    	<div class="row">
					    		<div class="col-7">
					    			<span>タグタイムライン</span>
					    		</div>
					    	</div>
				    	</th>
				    </tr>
				  </thead>

			    <tbody>

<% current_user.taggings.each do |tagging| %>

	<% tag = tagging.tag %>

  <% tagging_articles = Tagging.where(tag_id: tag.id, taggable_type: "Article") %>
  <% tagging_users = Tagging.where(tag_id: tag.id, taggable_type: "User") %>

  <tr class="tag"><!-- ここでeach -->
    <td>
      <div class="card">
        <div class="card-header">
          <div class="row">

            <div class="col-6 ranking-table">
            	<span class="badge tag-color p-1">
            		<%= link_to tag.name, tag_path(tag), class: "text-white" %>
            	</span>

              <% if tagging_articles.present? %>

                <span class="small" style="font-weight: bold; font-size: 14px;">
                  の最新記事
                </span>

              <% else %>

                <span class="small" style="font-weight: bold; font-size: 14px;">
                  の記事はまだありません
                </span>

              <% end %>

            </div>

            <div class="col-6 small text-secondary text-right align-self-center">

            	<span>
            		<%= fa_icon("pencil") %><%= tagging_articles.count %>件の記事
            	</span>

              <br>

              <%= fa_icon("users") %>
            	<span id="tagging-users-count-of-<%= tag.id %>">
                <%= render partial: 'tags/tagging_users_count', locals: {tagging_users: tagging_users} %>
            	</span>
              名が登録

            </div>

          </div>
        </div>

        <% tagging_articles.last(1).each do |tagging_article| %>

        <div class="card-body">

          <div class="row justify-content-center">

            <div class="tag-bar-color" style="width: 2%; height: 200px; ">
            </div>

            <div style="width: 92%; margin: 0 5px;">

              <div class="card card-size">

                <%= attachment_image_tag tagging_article.taggable, :image, fallback: "no_image.jpg", class: "img-trim"  %>
                <div class="card-img-overlay article-bg-index" style="">
                  <div>
                    <div class="row">

                      <div class="col-12 ranking-table align-self-center">
                        <%= attachment_image_tag tagging_article.taggable.user, :image, fallback: "no_image.jpg", class: "mx-1 card-img", style: "max-height: 40px; max-width: 40px;"%>
                        <span>
                          <%= link_to tagging_article.taggable.user.user_name, user_path(tagging_article.taggable.user_id), class: "text-border-black border-bottom border-secondary text-white" %>
                        </span>
                      </div>

                    </div>
                  </div>

                  <div class="card-body">

                    <div class="row">
                      <div class="col-12">
                        <span>
                          <%= link_to tagging_article.taggable.title, article_path(tagging_article.taggable), class: "text-border text-white border-bottom border-secondary d-sm-inline d-none" %>
                          <%= link_to tagging_article.taggable.title.truncate(30), article_path(tagging_article.taggable), class: "text-border text-white border-bottom border-secondary d-sm-none" %>
                        </span>
                      </div>


                      <div class="text-light" style="position: absolute; bottom: 0; right: 0; padding: 5px 5px; margin: 5px 5px; background-color: rgba(0, 0, 0, 0.4); letter-spacing: 0.4px;">
                        <% if tagging_article.taggable.favorited_by?(current_user) %>

                          <span class="mx-1 favorite-color">
                            <%= fa_icon("thumbs-up") %><%= tagging_article.taggable.favorites.count %>
                          </span>

                        <% else %>

                          <span class="mx-1">
                            <%= fa_icon("thumbs-up") %><%= tagging_article.taggable.favorites.count %>
                          </span>

                        <% end %>

                        <% if tagging_article.taggable.kept_by?(current_user) %>

                          <span class="mx-1 keep-color"">
                            <%= fa_icon("folder-open") %><%= tagging_article.taggable.keeps.count %>
                          </span>

                        <% else %>

                          <span class="mx-1">
                            <%= fa_icon("folder-open") %><%= tagging_article.taggable.keeps.count %>
                          </span>

                        <% end %>

                        <% if tagging_article.taggable.comments.where(user_id: current_user.id).exists? %>

                          <span class="mx-1 comment-color">
                            <%= fa_icon("comments") %><%= tagging_article.taggable.comments.count %>
                          </span>

                        <% else %>

                          <span class="mx-1">
                            <%= fa_icon("comments") %><%= tagging_article.taggable.comments.count %>
                          </span>

                        <% end %>
                      </div>

                    </div>


                  </div>
                </div>
              </div>

            </div>

            <div class="tag-bar-color" style="width: 2%; height: 200px; ">
            </div>

          </div>

        </div>

        <% end %>

      </div>
    </td>
  </tr><!-- eachを終了 -->

<% end %>



			    </tbody>

			  </table>

	    <% else %>

			  <table class="table bg-white">
				  <thead>
				    <tr>
				    	<th class="text-center">
			    			<span>タグタイムライン</span>
				    	</th>
				    </tr>
				  </thead>
				</table>

				<p class="text-center font-weight-bold">
					関心のあるタグを登録していません
				</p>

	    <% end %>

	  </div>

	  <div class="col-lg-3 col-md-10 col-sm-10 right-sidebar">

				<table class="table bg-white">

					<%= render 'articles/user_ranking' %>

				</table>

				<table class="table bg-white">

					<%= render 'articles/tag_ranking' %>

				</table>

		</div>

	</div>
</div>