<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="left-sidebar col-lg-2 d-none d-lg-block">

			<%= render 'articles/nav_bar' %>

		</div>

		<div class="col-lg-6 col-sm-10">

			<p class="d-lg-block d-none blank-margin"></p>

			<div class="d-lg-none d-sm-block">

				<%= render 'articles/nav_bar' %>

			</div>

			<% if current_user.tag_list.present? %>

			  <table class="table bg-white">

				  <thead>
				    <tr>
				    	<th>
					    	<div class="row">
					    		<div class="col-7">
					    			<span>タグタイムライン</span>
					    		</div>
					    	</div>
				    	</th>
				    </tr>
				  </thead>

			    <tbody>

		        <% current_user.taggings.each do |tagging| %>

		        	<%= render 'tags/tags', tag: tagging.tag %>

		        <% end %>

			    </tbody>

			  </table>

	    <% else %>

			  <table class="table bg-white">
				  <thead>
				    <tr>
				    	<th class="text-center">
			    			<span>タグタイムライン</span>
				    	</th>
				    </tr>
				  </thead>
				</table>

				<p class="text-center font-weight-bold">
					関心のあるタグを登録していません
				</p>

	    <% end %>

	  </div>

	  <div class="col-lg-3 col-md-10 col-sm-10 right-sidebar">

				<table class="table bg-white">

					<%= render 'articles/user_ranking' %>

				</table>

				<table class="table bg-white">

					<%= render 'articles/tag_ranking' %>

				</table>

		</div>

	</div>
</div>