<% if user_signed_in? %>

  <% unless current_user?(user) %>

    <div id="follow_form">

    <% if current_user.following?(user) %>

      <%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: { method: :delete }) do |f| %>
      <span class="bg-primary rounded small text-white p-1">フォロー中</span>
      <%= f.submit "解除", class: "border border-secondary rounded small text-secondary relationship-link", "data-confirm" => "#{user.user_name}さんのフォローを解除しますか？" %>

    <% end %>

  <% else %>

      <%= form_for(current_user.following_relationships.build(following_id: user.id)) do |f| %>
        <span>
          <%= f.hidden_field :following_id %>
        </span>
        <%= f.submit "フォローする", class: "border border-primary rounded small text-primary relationship-link" %>
      <% end %>

    <% end %>

    </div>

  <% end %>

<% end %>