	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-12" id="notifications">

				<p class="text-center mt-3 font-weight-bold"><%= current_user.user_name %>さんの通知一覧</p>

				<% @notifications.each do |notification| %>

					<ul class="list-group list-group-flush notification">

						<li class="list-group-item small my-2 page">

							<% if notification.notified_by_id.present? %>
								<% user = User.find(notification.notified_by_id) %>
								<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: "card-img", style: "max-height: 40px; max-width: 40px;"%>
								<%= link_to "#{user.user_name}", user_path(user) %>
									さんが
							<% end %>

								<% if "#{notification.notified_type}" == "サインアップ" %>

									<div class="text-center">
										<p class="h5">
											ようこそEblitiesへ！
										</p>

										<p>
											プロフィール登録がお済みでない方は<br>
											<%= link_to "プロフィール設定", user_profile_path(current_user) %><br>
											で登録しましょう。
										</p>

										<p>
											アカウントのセキュリティを高めるために<br>
											<%= link_to "二段階認証の設定", user_two_factor_authentication_path(current_user) %><br>
											をオススメしています。
										</p>
									</div>

								<% elsif "#{notification.notified_type}" == "キープ" %>

								<%= link_to "あなたの記事を#{notification.notified_type}しました", link_through_path(notification) %>

								<br>
								記事 :
								<span>
									<%= link_to "#{notification.article.title}", article_path(notification.article_id) %>
								</span>

							<% elsif "#{notification.notified_type}" == "フォロー" %>

								<%= link_to "あなたを#{notification.notified_type}しました", followers_path(current_user) %>

							<% else %>

								<%= link_to "あなたの記事に#{notification.notified_type}をしました", link_through_path(notification) %>

								<br>
								記事 :
								<span>
									<%= link_to "#{notification.article.title}", article_path(notification.article_id) %>
								</span>

							<% end %>

						</li>

					</ul>

				<% end %>

		    <div class="row justify-content-center">
		    		<p class="col-12"><%= paginate @notifications %></p>
		    </div>

			</div>
		</div>
	</div>

