<% count = 1 %>
<% each_number = 1 %>
<% comments = Comment.where.not(user_id: current_user).reverse_order.group(:user_id) %>

<table class="table table-sm bg-white card-body">
	<tbody>
	  <% comments.each do |comment| %>

	  	<% if count > 5 %>

	  	 <% break %>

	  	<% elsif comment.article.user == current_user %>

		    <tr>
		      <td class="right-sidebar-link">
		      	<span>
		      		<%= attachment_image_tag comment.user, :image, fallback: "no_image.jpg", class: "card-img mx-1", style: "max-height: 40px; max-width: 40px;"%>
		      		<%= link_to comment.user.user_name, user_path(comment.user) %>
		      	</span><br>
		      	<span class="small">記事</span>
		      	<span>
		      		<%= link_to comment.article.title, article_path(comment.article), class: "text-secondary" %>
	      		</span>

	      		<span id="relationship-of-commented-<%= comment.user_id %>">
		      		<%= render 'relationships/follow_or_unfollow', user: comment.user %>
		      	</span>

		      </td>
		    </tr>

		    <% count += 1 %>

		  <% end %>

	  <% end %>
	</tbody>
</table>