<% count = 1 %>
<% each_number = 1 %>
<% favorites = Favorite.where.not(user_id: current_user).reverse_order.group(:user_id) %>

<table class="table table-sm bg-white card-body">
	<tbody>
	  <% favorites.each do |favorite| %>

	  	<% if count > 5 %>

	  	 <% break %>

	  	<% elsif favorite.article.user == current_user %>

		    <tr>
		      <td class="right-sidebar-link">
		      	<span>
		      		<%= attachment_image_tag favorite.user, :image, fallback: "no_image.jpg", class: "card-img mx-1", style: "max-height: 40px; max-width: 40px;"%>
		      		<%= link_to favorite.user.user_name, user_path(favorite.user) %>
		      	</span><br>
		      	<span class="small">記事</span>
		      	<span>
		      		<%= link_to favorite.article.title, article_path(favorite.article), class: "text-secondary" %>
	      		</span>

	      		<span id="relationship-of-favorited-<%= favorite.user_id %>">
		    			<%= render 'relationships/follow_or_unfollow', user: favorite.user %>
		    		</span>

		      </td>
		    </tr>

		    <% count += 1 %>

	    <% end %>

	  <% end %>
	</tbody>
</table>