<div class="col-lg-3 col-sm-11 text-center mt-5 pt-4  bg-white">
	<%= attachment_image_tag @user, :image, fallback: "no_image.jpg", class: "card-img", style: "max-height: 200px; max-width: 200px;" %>
	<p class="mt-3"><%= @user.user_name %></p>
	<p><%= @user.family_name %> <%= @user.given_name %></p>
	<% if @user.web_site_url.present? %>
		<p class="small"><%= link_to "Webサイトを訪問する", "https://#{@user.web_site_url}" %></p>
	<% end %>
	<p class="small"><%= @user.introduction %></p>

	<span class="font-weight-bold h5"><%= @user.point %></span>
	<span class="font-weight-bold h5">EP</span><br>
	<span class="small">Eblities Point</span><br>

	<% unless current_user?(@user) %>
	  <div class="mt-3">
	  <% if current_user.following?(@user) %>
			<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
			  <%= f.submit "フォロー中", class: "btn btn-sm btn-primary " %>
			<% end %>
	  <% else %>
			<%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
			<div><%= f.hidden_field :following_id %></div>
			<%= f.submit "フォローする", class: "btn btn-sm btn-outline-primary " %>
			<% end %>
	  <% end %>
	  </div>
	<% end %>

	<div class="mt-4">
		<span class="small">フォロー</span><br>
		<span><%= @user.followings.count %></span><br>
		<span class="small">フォロワー</span><br>
		<span><%= @user.followers.count %></span><br>
	</div>

	<%= link_to user_profile_path(current_user) do %>
		<p class="mt-3 btn btn-secondary btn-sm"><%= fa_icon("cog", text: "プロフィール設定") %></p>
	<% end %>

	<div>
		<% @taggings.each do |tagging| %>
			<span class="badge badge-secondary">
				<%= link_to tagging.tag.name, tag_path(tagging.tag_id), class: "text-white" %>
			</span>
		<% end %>
	</div>

	<button type="button" class="btn btn-primary btn-sm mt-2 mb-5" data-toggle="modal" data-target="#exampleModalLong">
	  タグを編集する
	</button>

	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <p class="modal-title" id="exampleModalLongTitle">タグ編集</p>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	      	<div>

						<ul class="list-group list-group-flush">
							<% @taggings.each do |tagging| %>
							  <li class="list-group-item">
							  	<%= link_to tagging_path(tagging.id), method: :delete do %>
							  		<%= fa_icon("times", class: "text-secondary") %>
							  	<% end %>
							  	<span class="badge badge-secondary"><%= tagging.tag.name %></span>
							  </li>
							<% end %>
						</ul>

	      	</div>

					<%= form_for(@tag) do |f| %>
				    <%= f.label :tag_list, "追加したいタグを入力", class: "small" %><br>
				    <%= text_field_tag 'user[tag_list]', @user.tag_list.join(','), class: "col" %>
						<%= f.submit "タグを登録", class: "btn btn-primary btn-sm mt-3" %>
	        <% end %>

	      </div>

	      <div class="modal-footer">

	      </div>
	    </div>
	  </div>
	</div>

</div>