<div class="col-lg-3 col-sm-11 text-center mt-5 pt-4  bg-white">
	<%= attachment_image_tag @user, :image, fallback: "no_image.jpg", class: "card-img", style: "max-height: 200px; max-width: 200px;" %>
	<p class="mt-3"><%= @user.user_name %></p>
	<% if @user.web_site_url.present? %>
		<p class="small"><%= link_to "Webサイトを訪問する", "https://#{@user.web_site_url}" %></p>
	<% end %>
	<p class="small my-3"><%= @user.introduction %></p>

	<span class="small">Eblities Point</span><br>
	<span class="font-weight-bold h5"><%= @user.point %></span>
	<span class="font-weight-bold h5">EP</span><br>

	<% if user_signed_in? %>

		<%= render 'relationships/follow_or_unfollow', user: @user %>

	<% end %>

	<div class="mt-4">
		<span class="small">フォロー</span><br>
		<span><%= @user.followings.count %></span><br>
		<span class="small">フォロワー</span><br>
		<span><%= @user.followers.count %></span><br>
	</div>

	<% if @user == current_user %>

		<%= link_to user_profile_path(current_user) do %>
			<p class="mt-3 btn btn-secondary btn-sm"><%= fa_icon("cog", text: "プロフィール設定") %></p>
		<% end %>

	<% end %>

	<p class="small title-color text-white mt-3">関心のあるタグ</p>

	<div>
		<% if Tagging.exists?(taggable_type: "User", taggable_id: @user.id) %>

			<% @taggings.each do |tagging| %>
				<span class="badge tag-color p-1">
					<%= link_to tagging.tag.name, tag_path(tagging.tag_id), class: "text-white" %>
				</span>
			<% end %>

		<% else %>

			<p class="text-secondary">未登録</p>

		<% end %>

	</div>

	<% if @user == current_user %>

		<button type="button" class="btn btn-secondary btn-sm mt-3" data-toggle="modal" data-target="#exampleModalLong">
		  タグを編集する
		</button>

		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <p class="modal-title font-weight-bold" id="exampleModalLongTitle">タグ編集</p>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">

		      	<div>

							<ul class="list-group list-group-flush">
								<% @taggings.each do |tagging| %>
								  <li class="list-group-item">
								  	<%= link_to tagging_path(tagging.id), method: :delete do %>
								  		<%= fa_icon("times", class: "text-secondary") %>
								  	<% end %>
								  	<span class="badge d-inline tag-color"><%= tagging.tag.name %></span>
								  </li>
								<% end %>
							</ul>

		      	</div>

						<%= form_for(@tag) do |f| %>
					    <%= f.label :tag_list, "追加したいタグを入力", class: "small" %><br>
					    <%= text_field_tag 'user[tag_list]', @user.tag_list.join(','), class: "col", "data-role" => "tagsinput", value: nil %>
							<%= f.submit "タグを追加する", class: "btn btn-secondary btn-sm mt-3" %>
		        <% end %>

		      </div>

		      <div class="modal-footer">

		      </div>
		    </div>
		  </div>
		</div>

	<% end %>

	<p class="small title-color text-white mt-3">実績</p>

	<div>

		<% favorited = 0 %>
		<% kept = 0 %>
		<% commented = 0 %>
		<% @user.articles.each do |article| %>
			<% favorited += article.favorites.count %>
			<% kept += article.keeps.count %>
			<% commented += article.comments.count %>
		<% end %>

		<span>投稿数</span><br>
		<span><%= @user.articles.count %></span><br>
		<span>イイねされた数</span><br>
		<span><%= favorited %></span><br>
		<span>キープされた数</span><br>
		<span><%= kept %></span><br>
		<span>コメントされた数</span><br>
		<span><%= commented %></span><br>
	</div>

</div>