<ul class="nav nav-tabs mt-2">

  <li class="nav-item">
		<%= link_to user_path(@user) do %>

			<% if controller.action_name == "show" %>
				<span class="nav-link active nav-font bg-danger text-white">
			<% else %>
				<span class="nav-link nav-font bg-white text-secondary border">
			<% end %>

					<%= fa_icon("user", text: "投稿履歴") %>
				</span>
		<% end %>
  </li>

  <% if @user == current_user %>
	  <li class="nav-item mx-1">
			<%= link_to user_drafts_path(@user) do %>

				<% if controller.action_name == "index" %>
					<span class="nav-link active nav-font bg-danger text-white">
				<% else %>
					<span class="nav-link nav-font bg-white text-secondary border">
				<% end %>

						<%= fa_icon("users", text: "下書き一覧") %>
					</span>
			<% end %>
	  </li>
	<% end %>

  <li class="nav-item mx-1">
		<%= link_to followers_path(@user) do %>

				<% if controller.action_name == "followers" %>
					<span class="nav-link active nav-font bg-danger text-white">
				<% else %>
					<span class="nav-link nav-font bg-white text-secondary border">
				<% end %>

					<%= fa_icon("users", text: "フォロワー") %>
				</span>
		<% end %>
  </li>

</ul>