<div class="container">
	<div class="row justify-content-center">

		<%= render 'users/info_sidebar' %>

		<div class="col-lg-9 col-sm-11">

			<%= render 'users/nav_bar' %>

	    <%= search_form_for @search_user, url: followers_path do |f| %>
	      <div class="form-inline my-lg-0 my-2">
	        <%= f.text_field :user_name_cont, class: "col-sm-10 col-xs-12 form-control", placeholder: @user.user_name + 'さんのフォロワーを検索'  %>
	        <%= f.button fa_icon("search"), class: 'col-sm-2 col-xs-12 btn btn-outline-dark my-lg-0 my-2'%>
	      </div>
	    <% end %>

			<% if @user.followers.present? %>
				<% if @search_user.result.count > 0 %>

				  <table class="table bg-white" id="followers">
					  <thead>
					    <tr>
					    	<th>
						    	<div class="row">
						    		<div class="col-12">
						    			<span><%= @search_user.result.count %>人のフォロワー</span>
						    		</div>
						    	</div>
					    	</th>
					    </tr>
					  </thead>

		    		<% if params[:q].present? %>
		    			<% if params[:q][:user_name_cont] != "" %>
			    			<p class="text-center font-weight-bold my-3">"<%= params[:q][:user_name_cont] %>"の検索結果</p>
		    			<% end %>
		    		<% end %>

				    <tbody class="page">

				    	<% @users.each do |user| %>

				    		<%= render 'users/users', user: user %>

					    <% end %>

				    </tbody>
				  </table>

			  <% elsif @search_user.result.count == 0 %>

			  	<p class="text-center font-weight-bold mt-3">"<%= params[:q][:user_name_cont] %>"を含むフォロワーはいません</p>

			 	<% end %>

	    <% else %>

				<p class="text-center font-weight-bold mt-3"><%= @user.user_name %>さんのフォロワーはいません</p>

	    <% end %>

	    <div class="row justify-content-center">
	    		<p class="col-12"><%= paginate @users %></p>
	    </div>

		</div>

	</div>
</div>