<div class="container">
	<div class="row justify-content-center">

		<%= render 'users/setting_sidebar', user: @user %>

		<div class="col-lg-10 col-sm-12 content-margin">

			<div class="card">
	      <div class="card-header">
	        <div class="row">

	          <div class="col-12">
	          	パスワードの再設定
	          </div>

	        </div>
	      </div>


	      <%= form_for @user do |f| %>

		      <div class="card-body text-center">

			      <p class="text-danger text-center mt-4"><%= flash[:failed] %></p>
						<p class="text-success text-center mt-4"><%= flash[:succeeded] %></p>

<%
=begin
%>
	        	<span class="small text-secondary">
	        		現在のパスワード
	        	</span><br>
	        	<span>
	        		<%= f.password_field :current_password %>
	        	</span><br>
	        	<p class="my-3"></p>
<%
=end
%>
	        	<span class="small text-secondary">
	        		新しいパスワード
	        	</span><br>
	        	<span>
	        		<%= f.password_field :password %>
	        	</span><br>
<%
=begin
%>
	        	<p class="my-3"></p>
	        	<span class="small text-secondary">
	        		新しいパスワードを再入力
	        	</span><br>
	        	<span>
	        		<%= f.password_field :password_confirmacation %>
	        	</span>
<%
=end
%>
	        	<p class="my-3"></p>
	        	<span class="small text-secondary">
	        		<%= f.submit "パスワードを再設定する", class: "btn btn-primary btn-sm" %>
	        	</span>

		      </div>

		  	<% end %>

	    </div>

	  </div>
	</div>
</div>