<div class="container">
	<div class="row justify-content-center">

		<div class="col-12 text-center text-success animated flash">
			<%= flash[:password_updated] %>
		</div>

		<div class="col-12 text-center text-danger animated shake">
			<%= flash[:password_update_failed] %>
		</div>

		<%= render 'users/setting_sidebar', user: @user %>

		<div class="col-lg-10 col-sm-12 content-margin">

			<div class="card">
	      <div class="card-header">
	        <div class="row">

	          <div class="col-12">
	          	パスワードの再設定
	          </div>

	        </div>
	      </div>

	      <%= simple_form_for @user, url: {action: 'update_password'} do |f| %>

		      <div class="card-body text-center">

			      <p class="text-danger text-center mt-4"><%= flash[:failed] %></p>
						<p class="text-success text-center mt-4"><%= flash[:succeeded] %></p>

						<div class="row justify-content-center">
							<div class="col-md-6 col-12">
			        	<span class="small text-secondary">
			        		現在のパスワード
			        	</span><br>
			        	<span>
			        		<%= f.input :current_password, label: false %>
			        	</span><br>

			        	<span class="small text-secondary">
			        		新しいパスワード(6~16文字)
			        	</span><br>
			        	<span>
			        		<%= f.input :password, label: false %>
			        	</span><br>

			        	<span class="small text-secondary">
			        		新しいパスワードを再入力
			        	</span><br>
			        	<span>
			        		<%= f.input :password_confirmation, label: false %>
			        	</span>

			        	<span class="small text-secondary">
			        		<%= f.submit "パスワードを再設定する", class: "btn btn-primary btn-sm", name: "update_password" %>
			        	</span>
			        </div>
			      </div>

		      </div>

		  	<% end %>

	    </div>

	  </div>
	</div>
</div>