<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
		<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
		  <%= f.submit "Unfollow", class: "btn btn-large follow-btn" %>
		<% end %>
  <% else %>
		<%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
		<div><%= f.hidden_field :following_id %></div>
		<%= f.submit "Follow", class: "btn btn-large btn-primary follow-btn" %>
		<% end %>
  <% end %>
  </div>
<% end %>


<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-10">
			<%= attachment_image_tag @user, :image, fallback: "no_image.jpg", class: "card-img" %>
			<%= @user.user_name %>
			<% @taggings.each do |tagging| %>
				<%= tagging.tag.name %>
			<% end %>
		</div>

<%= form_for(@tag) do |f| %>
  <div class="field">
    <%= f.label :tag_list, "タグ（カンマ区切り）" %><br>
    <%= text_field_tag 'user[tag_list]', @user.tag_list.join(',') %>
    <%= f.hidden_field :taggable_type, :value => controller.controller_name.classify %>
    <%= f.hidden_field :context, :value => "tags" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

	</div>
</div>