<table class="table table-sm bg-white">
	<tbody>
		<tr>
			<td>
				<% if Tagging.exists?(taggable_type: "User", taggable_id: current_user.id) %>

					<% @taggings.each do |tagging| %>
						<span class="badge tag-color p-1">
							<%= link_to tagging.tag.name, tag_path(tagging.tag_id), class: "text-white" %>
						</span>
					<% end %>

				<% else %>

					<p class="text-secondary text-center">未登録</p>

				<% end %>

				<div>

					<button type="button" class="btn btn-secondary btn-sm mt-3" data-toggle="modal" data-target="#exampleModalLong">
					  タグを編集する
					</button>

					<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <p class="modal-title font-weight-bold" id="exampleModalLongTitle">タグ編集</p>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">

					      	<div>

										<ul class="list-group list-group-flush">
											<% @taggings.each do |tagging| %>
											  <li class="list-group-item">
											  	<%= link_to tagging_path(tagging.id), method: :delete do %>
											  		<%= fa_icon("times", class: "text-secondary") %>
											  	<% end %>
											  	<span class="badge d-inline tag-color"><%= tagging.tag.name %></span>
											  </li>
											<% end %>
										</ul>

					      	</div>
					      	<% @tag = Tag.new %>
									<%= form_for(@tag) do |f| %>
								    <%= f.label :tag_list, "追加したいタグを入力", class: "small" %><br>
								    <%= text_field_tag 'user[tag_list]', current_user.tag_list.join(','), class: "col", "data-role" => "tagsinput", value: nil %>
										<%= f.submit "タグを追加する", class: "btn btn-secondary btn-sm mt-3" %>
					        <% end %>

					      </div>

					      <div class="modal-footer">

					      </div>
					    </div>
					  </div>
					</div>

				</div>

			</td>
		</tr>
	</tbody>
</table>