<span id="tags_input_style">
	<%= render 'layouts/tags_input_style' %>
</span>

<div class="container-fluid">
	<div class="row justify-content-center">

		<div class="left-sidebar col-lg-2 d-none d-lg-block">

			<%= render 'articles/nav_bar' %>

		</div>

		<div class="d-lg-none col-sm-11 content-margin">

			<%= render 'description_of_tags_index' %>

		</div>

		<div class="col-lg-7 col-sm-11 content-margin">

	    <%= search_form_for @search_tag do |f| %>
	      <div class="form-inline mb-2">
	        <%= f.text_field :name_cont, class: "col-sm-10 col-xs-12 form-control", placeholder: 'タグを検索' %>
	        <%= f.button fa_icon("search"), class: 'col-sm-2 col-xs-12 btn btn-outline-dark my-lg-0 my-2'%>
	      </div>
	    <% end %>

			<% if Tag.exists? %>
				<% if @search_tag.result.count > 0 %>

				  <table class="table bg-white" id="tags">
					  <thead>
					    <tr>
					    	<th>
					    		<%= @search_tag.result.count %>種類のタグ
					    	</th>
					    </tr>
					  </thead>

		    		<% if params[:q].present? %>
		    			<% if params[:q][:name_cont] != "" %>
			    			<p class="text-center font-weight-bold my-3">"<%= params[:q][:name_cont] %>"の検索結果</p>
		    			<% end %>
		    		<% end %>

				    <tbody class="page" id="all-tags">

				    	<%= render partial: 'tags/tags', locals: {tags: @tags, new_tag: @new_tag, user: @user} %>

				    </tbody>
				  </table>

			  <% elsif @search_tag.result.count == 0 %>

			  	<p class="text-center font-weight-bold mt-3">"<%= params[:q][:name_cont] %>"を含むタグはありません</p>

			 	<% end %>

	    <% else %>

				<p class="text-center font-weight-bold">タグはまだ登録されていません</p>

	    <% end %>

	    <div class="row justify-content-center">
	    		<p class="col-12"><%= paginate @tags %></p>
	    </div>

		</div>

		<div class="col-lg-3 col-sm-11 content-margin">

			<div class="row">
				<div class="col-12 d-lg-block d-none">

					<%= render 'tags/description_of_tags_index' %>

				</div>

		    <% if user_signed_in? %>

		    	<div class="col-12 text-center mt-3">

						<div class="card mb-3">
						  <div class="card-header text-center font-weight-bold">
						  	あなたが関心を持つタグ
						  </div>
						  <div class="card-body">
						  	<% @taggings = Tagging.where(taggable_type: "User", taggable_id: @user.id) %>
						  	<%= render partial: 'taggings/tagging', locals: {taggings: @taggings, new_tag: @new_tag, user: @user} %>

						  </div>
						</div>

				  </div>

				  <a name="link"></a>

					<div class="col-12">
						<div class="card mb-3">

						  <div class="card-header text-center font-weight-bold">共通のタグユーザー</div>
						  <div class="card-body" id="common-users-of-<%= @user.id %>">

								<%= render 'tags/common_users' %>

						  </div>
						</div>

					</div>

				<% end %>

				<div class="col-12">

					<table class="table bg-white">

						<%= render 'articles/tag_ranking' %>

					</table>

				</div>
			</div>

		</div>
	</div>
</div>

<span id="tags_input_script">
	<%= render 'layouts/tags_input_script' %>
</span>