<div class="container-fluid">
	<div class="row justify-content-center">

		<p class="col-12 d-lg-block d-none"></p>

		<div class="col-lg-3 col-sm-11">
			<div class="row">
				<div class="col-12">

					<p>
						<%= link_to "#{@tag.name}の記事一覧", tags_path, class: "btn btn-danger col mt-lg-0 mt-3" %>
					</p>

					<p>
						<%= link_to "タグ一覧を見る", tags_path, class: "btn btn-outline-danger btn-sm col mt-lg-0 mt-3" %>
					</p>

			    <%= search_form_for @search_tag_article, url: tag_path do |f| %>
			      <div class="form-inline my-lg-0 my-2">
			        <%= f.text_field :title_or_body_cont, class: "col-sm-10 col-xs-12 form-control", placeholder: "#{@tag.name}の記事を検索" %>
			        <%= f.button fa_icon("search"), class: 'col-sm-2 col-xs-12 btn btn-outline-dark my-lg-0 my-2'%>
			      </div>
			    <% end %>

				</div>

		    <% if user_signed_in? %>

		    	<div class="col-12 text-center mt-3  d-lg-block d-none">

						<div class="card mb-3">
						  <div class="card-header text-white text-center font-weight-bold" style ="background-color: #125699;">
						  	<%= @tag.name %>
						  </div>
						  <div class="card-body">

								<table class="table table-sm bg-white card-body">
									<tbody>
								    <tr>
								      <th class="text-center">
								      	関心を持つユーザー
								      </th>
								    </tr>
								    <tr>
								      <td>
								      	<%= Tagging.where(taggable_type: "User", tag_id: @tag).count %> users
								      </td>
								    </tr>
								    <tr>
								      <th class="text-center">
								      	タグ付けされた記事
								      </th>
								    </tr>
								    <tr>
								      <td>
								      	<%= Tagging.where(taggable_type: "Article", tag_id: @tag).count %> posts
								      </td>
								    </tr>
									</tbody>
								</table>

						  </div>
						</div>

				  </div>

					<div class="col-12 d-lg-block d-none">
						<div class="card mb-3">

						  <div class="card-header bg-primary text-white text-center font-weight-bold">
						  	"<%= @tag.name %>"に関心を持つ他のユーザー
						  </div>
						  <div class="card-body">

								<table class="table table-sm bg-white card-body">
									<tbody>
									  <% User.tagged_with(@tag.name).order("RANDOM()").limit(10).each do |user|  %>
										  <% if user != current_user %>

										    <tr>
										      <td class="right-sidebar-link">
										      	<p>
										      		<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
										      		<%= link_to user.user_name, user_path(user) %>
										      	</p>
										      	<span class="small">あなたと共通のタグ</span>
										      	<% Tagging.where(taggable_type: "User", taggable_id: user).each do |tagging| %>
										      		<% Tagging.where(taggable_type: "User", taggable_id: current_user).each do |my_tagging| %>
										      			<% if tagging.tag.name == my_tagging.tag.name %>
													        <span class="badge tag-color p-1">
													        	<%= link_to tagging.tag.name, tag_path(tagging.tag.id),class: "text-white" %>
												        	</span>
												        <% end %>
												      <% end %>
											      <% end %>

										      </td>
										    </tr>
										  <% end %>
									  <% end %>
									</tbody>
								</table>

						  </div>
						</div>

					</div>

				<% end %>

			</div>

			<div class="accordion d-lg-none d-block mb-3" id="accordionExample">
			  <div class="card">
			    <div class="card-header card-header text-center" id="headingOne" style ="background-color: #125699;">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed font-weight-bold text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          <%= @tag.name %> <%= fa_icon("caret-down", text: "") %>
			        </button>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

						<table class="table table-sm bg-white card-body text-center">
							<tbody>
						    <tr>
						      <th class="text-center">
						      	関心を持つユーザー
						      </th>
						    </tr>
						    <tr>
						      <td>
						      	<%= @taggings.count %> users
						      </td>
						    </tr>
						    <tr>
						      <th class="text-center">
						      	タグ付けされた記事
						      </th>
						    </tr>
						    <tr>
						      <td>
						      	<%= @taggings.count %> posts
						      </td>
						    </tr>
							</tbody>
						</table>

			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header bg-primary text-center" id="headingTwo">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed font-weight-bold text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          共通のタグユーザー <%= fa_icon("caret-down", text: "") %>
			        </button>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

						<table class="table table-sm bg-white card-body">
							<tbody>
							  <% User.tagged_with("#{@tag.name}").order("RANDOM()").limit(10).each do |user| %>
							    <tr>
							      <td class="right-sidebar-link">
							      	<p>
							      		<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
							      		<%= link_to user.user_name, user_path(user) %>
							      	</p>
							      	<span class="small">共通のタグ</span>
							      	<% Tagging.where(taggable_type: "User", taggable_id: user).each do |tagging| %>
							      		<% Tagging.where(taggable_type: "User", taggable_id: current_user).each do |my_tagging| %>
							      			<% if tagging.tag.name == my_tagging.tag.name %>
										        <span class="badge tag-color p-1">
										        	<%= link_to tagging.tag.name, tag_path(tagging.tag.id),class: "text-white" %>
									        	</span>
									        <% end %>
									      <% end %>
								      <% end %>
							      </td>
							    </tr>
							  <% end %>
							</tbody>
						</table>

			    </div>
			  </div>

			</div>
	  </div>

		<div class="col-lg-9 col-sm-11">

			<% if Article.tagged_with("#{@tag.name}").exists? %>
				<% if @search_tag_article.result.count > 0 %>

				  <table class="table bg-white" id="articles">
					  <thead>
					    <tr>
					    	<th>
				    			<span><%= link_to @tag.name, tag_path(@tag), class: "text-white rounded px-1 tag-color" %></span> がタグ付けされた記事一覧 : <%= @tag_article.count %>件
					    	</th>
					    </tr>
					  </thead>

		    		<% if params[:q].present? %>
		    			<% if params[:q][:title_or_body_cont] != "" %>
			    			<p class="text-center font-weight-bold my-3">"<%= params[:q][:title_or_body_cont] %>"の検索結果</p>
		    			<% end %>
		    		<% end %>

				    <tbody class="page">
				    	<% @tag_article.each do |article| %>

				    		<%= render 'articles/articles', article: article %>

					    <% end %>

					  </tbody>
					</table>

			  <% elsif @search_tag_article.result.count == 0 %>
			  	<p class="text-center">
			  		<span class="">
			  			<%= link_to @tag.name, tag_path(@tag), class: "text-white rounded px-1 tag-color" %> がタグ付けされた記事を検索
		  			</span>
			  	</p>
			  	<p class="text-center font-weight-bold mt-3">
			  		"<%= params[:q][:title_or_body_cont] %>"を含む記事はありません
			  	</p>

			 	<% end %>

	    <% else %>

				<p class="text-center font-weight-bold"><span class="text-white rounded px-1 tag-color"><%= @tag.name %></span> がタグ付けされた記事はありません</p>

	    <% end %>

	    <div class="row justify-content-center">
	    		<p class="col-12"><%= paginate @tag_article %></p>
	    </div>

	  </div>
	</div>
</div>