<%= simple_form_for(@article, url: {:controller => :drafts, action: 'create_article'}) do |f| %>

	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-lg-9 col-sm-10">

				<p class="blank-margin"></p>

	      <div class="card">
	        <div class="card-header">
	          <div class="row">

	            <div class="col-6 ranking-table">
	            	<%= attachment_image_tag current_user, :image, fallback: "no_image.jpg", class: " mx-1", style: "max-height: 40px; max-width: 40px;"%>
	            	<span class="text-secondary">
	            		<%= current_user.user_name %>
	            	</span>
	            </div>

	          </div>
	        </div>

	        <div class="card-body">

	          <div class="row">
	            <div class="col-12">
	            	<h2 class="font-weight-bold text-dark mt-1">
	            		<%= @draft.title %>
	            		<%= f.hidden_field :title, :value => @draft.title %>
	            	</h2>
	            </div>
	          </div>
	        </div>

	        <p><%= @draft.tag_list %></p>
	        <span class="d-none"><%= text_field_tag 'article[tag_list]', @draft.tag_list.join(',') %></span>

	        <p class="title-border"></p>
	        <div class="col-sm-12 mt-4" style="overflow: scroll;">
	            <%= raw @draft.body %>
	            <%= f.hidden_field :body, :value => @draft.body %>
	        </div>

	      </div>
		  </div>

		  <div class="left-sidebar col-lg-3 d-lg-block d-sm-none">
		  	<div class="list-group left-sidebar-link d-lg-block d-none">

			    <%= f.submit "投稿する", name: "#{@draft.id}", class: "list-group-item list-group-item-action nav-font bg-danger text-white mb-2" %>

			    <%= link_to "修正する", user_draft_path(@draft), class: "list-group-item list-group-item-action nav-font mb-2" %>

			    <%= link_to "下書き一覧に戻る", user_drafts_path(current_user), class: "list-group-item list-group-item-action nav-font mb-2" %>

				</div>
		  </div>

			<div class="mt-2 d-lg-none d-sm-block">
					<
			  <p>
					<%= f.submit "投稿する", name: "create_article", class: "col btn btn-danger btn-sm text-white" %>
			  </p>

			  <p>
			  	<%= link_to "修正する", user_draft_path(@draft), class: "col btn btn-sm text-secondary border" %>
			  </p>

			  <p>
			  	<%= link_to "下書き一覧に戻る", user_drafts_path(current_user), class: "col btn btn-sm text-secondary border" %>
			  </p>

			</div>

		</div>
	</div>

<% end %>