<%= render 'layouts/tags_input_style' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="col-12 text-center text-danger animated shake">
        <%= flash[:invalid_article] %>
      </div>

      <p class="text-center my-3">
        <span class="bg-navy text-white p-2 rounded">下書き編集</span>
      </p>

      <%= simple_form_for(@draft, url: {action: 'update'}) do |f| %>

        <%= render 'articles/article_form', article: @draft,
                                            f: f,
                                            article_type: "draft",
                                            submit_label: "下書きとして保存する",
                                            submit_name: "update_draft",
                                            submit_confirm: "現在の内容を下書きとして保存しますか？" %>

      <% end %>

      </div>
  </div>
</div>

<%= render 'layouts/tags_input_script' %>