<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <%= simple_form_for(@draft, url: {:controller => :drafts, action: 'update'}) do |f| %>
        <%= f.error_notification %>

        <div class="field my-3">
          <%= text_field_tag 'draft[tag_list]', @draft.tag_list.join(','), class: "form-control", "data-role" => "tagsinput" %>
        </div>

        <div>
          <%= f.input :title, label: false, placeholder: "タイトル", error: "タイトルを入力してください" %>
          <%= f.input :body, label: false, as: :summernote, error: "本文を入力してください" %>
        </div>

        <div class="form-actions text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-sm", name: "confirm_draft" %>
          <%= f.submit "下書きとして保存する", class: "btn border text-dark btn-sm", name: "update_draft" %>
        </div>
      <% end %>

      </div>
  </div>
</div>