<!DOCTYPE html>
<html>
  <head>
    <title>Eblities</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% elsif  user_signed_in? %>
        <%= render 'layouts/header_user' %>
      <% else %>
        <%= render 'layouts/header_guest' %>
      <% end %>
    </header>

    <div class="main-content">
	    <%= yield %>
	  </div>

		<footer>
			<nav class="navbar navbar-expand-sm navbar-light">
			  <%= link_to "Eblities", root_path, class: "h3 logo text-secondary", style: "text-decoration: none;"%>

			  <div class="navbar navbar-light ml-auto">

			    <ul class="navbar-nav">
			      <li class="nav-item">
			      	<%= link_to "利用規約", terms_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "ヘルプ", helps_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "お問い合わせ", new_contact_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			    </ul>

			  </div>
			</nav>
		</footer>

  </body>

</html>
