<!DOCTYPE html>
<html>
  <head>
    <title>Eblities</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% elsif  user_signed_in? %>
        <%= render 'layouts/header_user', search: @search %>
        <div class="container-fluid">
		      <div class="row small">

		      	<% if controller_name == "articles" && action_name == "index" %>
			      	<div class="col-3 d-lg-block d-none text-center border border-bottom-0" style="background-color: rgba(235, 145, 0, 0.7);">
			      <% else %>
			      	<div class="col-3 d-lg-block d-none text-center nav-no-select">
			      <% end %>
			      		<%= link_to "最新記事", articles_path, class: "text-white" %>
			      	</div>

		      	<% if controller_name == "articles" && action_name == "user_timeline" %>
			      	<div class="col-3 d-lg-block d-none text-center border border-bottom-0" style="background-color: rgba(240, 30, 30, 0.7);">
			      <% else %>
			      	<div class="col-3 d-lg-block d-none text-center nav-no-select">
			      <% end %>
			      		<%= link_to "ユーザータイムライン", user_timeline_path, class: "text-white" %>
			      	</div>

			      <% if controller_name == "articles" && action_name == "tag_timeline" %>
			      	<div class="col-3 d-lg-block d-none text-center border border-bottom-0" style="background-color: rgba(30, 144, 255, 0.7);">
			      <% else %>
			      	<div class="col-3 d-lg-block d-none text-center nav-no-select">
			      <% end %>
			      		<%= link_to "タグタイムライン", tag_timeline_path, class: "text-white" %>
			      	</div>

			      <% if controller_name == "keeps" && action_name == "index" %>
			      	<div class="col-3 d-lg-block d-none text-center border border-bottom-0" style="background-color: rgba(90, 185, 144, 0.7);">
			      <% else %>
			      	<div class="col-3 d-lg-block d-none text-center nav-no-select">
			      <% end %>
			      		<%= link_to "キープ一覧", keeps_path, class: "text-white" %>
			      	</div>

		      	<div class="col-12 d-lg-none">
			      	<div class="row">

						    <button class="col-6 bg-secondary" type="button" data-toggle="collapse" data-target="#quickMenu" aria-controls="quickMenu" aria-expanded="false" aria-label="Toggle navigation">
						      <span class="text-white">メニュー</span>
						    </button>

						    <button class="col-6 bg-secondary" type="button" data-toggle="collapse" data-target="#articleMenu" aria-controls="articleMenu" aria-expanded="false" aria-label="Toggle navigation">
						      <span class="text-white">記事を見る</span>
						    </button>

						    <div class="collapse navbar-collapse" id="quickMenu">

						    	<ul class="navbar-nav" style="background-color: rgba(0,0,0, 0.5); ">

						        <li class="ml-3 my-2">
						          <%= link_to "ユーザーを探す", users_path, class: "nav-link text-white nav-font" %>
						        </li>

						        <li class="ml-3 my-2">
						          <%= link_to "タグを探す", tags_path, class: "nav-link text-white nav-font" %>
						        </li>

						        <li class="ml-3 my-2">
						          <%= link_to "記事作成", new_article_path, class: "nav-link text-white nav-font" %>
						        </li>

						    	</ul>

						    </div>

						    <div class="collapse navbar-collapse text-right" id="articleMenu">

						    	<ul class="navbar-nav"  style="background-color: rgba(0,0,0, 0.5);" >

						        <li class="mr-3 my-2">
						          <%= link_to "最新記事", users_path, class: "nav-link text-white nav-font" %>
						        </li>

						        <li class="mr-3 my-2">
						          <%= link_to "ユーザータイムライン", user_timeline_path, class: "nav-link text-white nav-font" %>
						        </li>

						        <li class="mr-3 my-2">
						          <%= link_to "タグタイムライン", user_timeline_path, class: "nav-link text-white nav-font" %>
						        </li>

						        <li class="mr-3 my-2">
						          <%= link_to "キープ一覧", keeps_path, class: "nav-link text-white nav-font" %>
						        </li>

						      </ul>

						    </div>

						  </div>
					  </div>

		      </div>
	      </div>

      <% else %>
        <%= render 'layouts/header_guest' %>
      <% end %>

    </header>

    <div class="main-content">
	    <%= yield %>
	  </div>

		<footer>
			<nav class="navbar navbar-expand-sm navbar-light">
			  <%= link_to "Eblities", root_path, class: "h3 logo text-secondary", style: "text-decoration: none;"%>

<%
=begin
%>


			  <div class="navbar navbar-light ml-auto">

			    <ul class="navbar-nav">
			      <li class="nav-item">
			      	<%= link_to "利用規約", terms_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "ヘルプ", helps_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "お問い合わせ", new_contact_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			    </ul>

			  </div>
<%
=end
%>

			</nav>
		</footer>

  </body>

</html>
