<!DOCTYPE html>
<html>
  <head>
    <title>Eblities</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% elsif  user_signed_in? %>
        <%= render 'layouts/header_user' %>
      <% else %>
        <%= render 'layouts/header_guest' %>
      <% end %>
    </header>

    <div class="main-content">
	    <%= yield %>
	  </div>

		<footer>
			<nav class="navbar navbar-expand-sm navbar-light">
			  <%= link_to "Eblities", root_path, class: "h3 logo text-secondary", style: "text-decoration: none;"%>

			  <div class="navbar navbar-light ml-auto">

			    <ul class="navbar-nav">
			      <li class="nav-item">
			      	<%= link_to "利用規約", terms_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "ヘルプ", helps_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			      <li class="nav-item">
			      	<%= link_to "お問い合わせ", new_contact_path, class: "nav-link text-secondary nav-font" %>
			      </li>
			    </ul>

			  </div>
			</nav>
		</footer>

  </body>

</html>
